node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
modules/vlc-player/android/build

# macOS
.DS_Store

expo-env.d.ts

Streamyfin.app

build-*
*.mp4
build-*
Streamyfin.app
package-lock.json

/ios
/android

modules/player/android

pc-api-7079014811501811218-719-3b9f15aeccf8.json
credentials.json
*.apk
*.ipa
.continuerc.json

.vscode/